* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --test: aquamarine;
    --background: darkslategrey;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* NAV BAR */
.nav-bar {    
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--background);
    height: 30%;
    align-items: center;
}

.nav-bar h1 {
    background-color: var(--test);
    color: var(--background);
    padding: 5px 10px 5px 60px;
    margin: 1% 0 1% 0;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 40%;
}

li a {
    text-decoration: none;
    color: aliceblue;
    text-decoration: underline;
}

/* MAIN SECTION */

.main-section {
    background-color: var(--background);
}
        /* subtitle section */
.subtitle-section {
    height: 20vh;
    background-color: var(--test);
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    align-items: center;
}

.subtitle-section img{
    height: 120px;
    width: 120px;
    margin-left: 1%;
    align-self: center;
}

.test-box{
    background-color: var(--background);
    display: flex;
    align-self: center;
    width: 35%;
    padding: 3% 3% 3% 1%;
    font-size: larger;
}

.subtitle-section h2 {
    color: var(--test);
    padding: 0% 1% 1% 0%;

}

        /* content section */

.main-content {
    display: flex;
    flex-direction: column;
    color: aqua;
    padding: 0 1% 0 1%;
}

.about-me-section {
    display: flex;
    flex-direction: row;
    height: 40%;
    /* flex-wrap: wrap; */
    padding-top: 2%;
    padding-bottom: 2%; 
    width: 100%;  
}

#about-me-header {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
}

#about-me-content {
    border-left: 5px solid black;
    width: 80%;
    padding-left: 2%;
}

.work-section {
    display: flex;
    flex-direction: row;
    height: 40%;
    padding-top: 2%;
    padding-bottom: 2%;   
    width: 100%; 
}

.work-section #work-id {
    width: 20%;
 
}


#work-section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-test-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 2%;
    border-left: 5px solid black;
    width: 80%;
}

.work-section img {
    width: 250px;
    height: 250px;
}

/* FOOTER SECTION */
#footer-section {
    display: flex;
    width: 100%;
    color: var(--test);
    background-color: var(--background);
    justify-content:space-between;
    /* padding: 5%; */
    height: 100px;
    padding: 1% 1% 2% 1%;

}

#footer-header-id{
    display: flex;
    width: 20%;
    color: var(--test);
    justify-content: center;
}

#contact-me-id {
    align-self: center;
    color: var(--test);
}

#footer-contact-information{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    border-left: 5px solid black;
}

#footer-contact-information ul{
    display: flex;
    width: 100%;
    align-items: center;
}

#footer-contact-information ul li{
    text-decoration: underline;
    color: var(--test);
}


/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }