* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --test: rgb(250, 235, 235);
    --background: darkslategrey;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* NAV BAR */
.nav-bar {    
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--background);
    height: 30%;
    align-items: center;
}

.nav-bar h1 {
    background-color: var(--test);
    color: var(--background);
    padding: 5px 10px 5px 60px;
    margin: 1% 0 1% 0;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 40%;
}

li a {
    text-decoration: none;
    color: aliceblue;
    text-decoration: underline;
}

/* MAIN SECTION */

.main-section {
    background-color: var(--background);
}
        /* subtitle section */
.subtitle-section {
    height: 20%;
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    padding: 1% 0 0;
    
}

.subtitle-section h2 {
    color: red;
    padding: 0% 1% 1% 0%;

}

        /* content section */

.main-content {
    display: flex;
    flex-direction: column;
    color: aqua;
    padding: 0 1% 0 1%
}

.about-me-section {
    display: flex;
    flex-direction: row;
    height: 40%;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 1%;    
}

.about-me-section h2 {
    text-align: center;
    border-right: 5%;
}
.about-me-section p {
    padding-left: 20%;
}
.work-section {
    display: flex;
    flex-direction: row;
    height: 40%;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 1%;    
}


.work-section h2 {
    text-align: center;
}

.image-test-section {
    padding-left: 20%;
}

.work-section img {
    width: 250px;
    height: 250px;
}

/* FOOTER SECTION */
.footer-section {
    background-color: red;
    height: 30%;
}

